/* This is an example of how to import a partial scss file*/
@import '_variables';

* {
  font-family: 'ABeeZee', sans-serif;
  margin: 0;
  padding:0;
}

button {
  cursor: pointer;
  border-radius: 20%;

}

button:hover {
  transform: scale(1.1);
  transition: .5s;
}

html {
  height: 100%;
}


body {
  height: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
}

header {
  height: 30%;
  display: flex;
  border-bottom: 5px solid #FB8500;
  // justify-content: space-between;
  // align-items: center;

}

h1 {
  font-size: 4vw;
  color: #023047;
}

.total-spent-display {
  font-size: 2vh;
}

.current-date {
  font-size: 4vh;
}

.total-spent-display {
  margin-top: 1em;
  color: #023047;
}

.left-header {
  // border: 4px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}

.right-header {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end
}

.logo {
  height: 100%;
  width: 40%;
  margin-right: 10%;
}

.nav-btns {
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 5px solid #FB8500;
  margin-top: 1%;
}

nav > button {
  width: 10vw;
  height: 7vh;
  background-color: #FFB703;
  font-size: 1vw;
  color: #023047;
  font-size: larger;
  margin-bottom: 1%;
}



.new-trip-section {
  display: flex;
  height: 25%;
  justify-content: center;
  margin-top: 1%;
}

.booking-box-section {
  height: 100%;
  width: 90%;
  background-color: rgba(33, 158, 188, 0.4);
}

.booking-box-top {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
  color: #023047;
}

.booking-box-bottom {
  display: flex;
  height: 30%;
  // justify-content: center;


}

.booking-box-bottom > .selection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #023047;
  font-size: 3vh;
}

.book-it-section {
  display: flex;
  height: 60%;
}

.book-btns {
  display: flex;
  width: 25%;
  height: 50%;
  justify-content: center
}

.book-btns > button {
  width: 7vw;
  height: 5vh;
  margin: 2%;
  background-color: #FB8500;
  font-size: 1vw;
  color: #023047;
}

.booking-msg {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
  font-size: 3vh;
  color: #023047;

}

.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(355px, auto));
  // justify-content: space-evenly;
  margin: 1%;
  // border: 3px solid blue;
  height: 100%;
  margin-top: 2%;
  // background-color: rgb(142, 202, 230, 0.6);
}

.card-top {
  border: 3px solid pink;
  background-size: cover;
  height: 50%;
}

.card-bottom {
  display: flex;
  flex-direction: column;

}

.card {
  border: 3px solid #FB8500;
  height: 60vh;
  width: auto;
  background-color: rgb(142, 202, 230, 0.8);

}

.trip-info {
  display: grid;
  grid-template-columns: 40% 50%;
  width: 100%;
  margin: 2% 1% 3%;
}

.main-trips-section > article {
  width: 85%;
  height: 50vh;
}

.login-page {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 5px solid black;


}

.login-error {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 3vh;



  height: 7vh;
  width: 30vw;
}

.login-container {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 90%;
  width: 60%;
}

.logo-container {
  height: 80vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // margin-bottom: 1%;


}

.logo-login {
  width: 80%;
  height: 80%;
  margin-bottom: 1%;
}

.login-page {
  font-size: 4vh;
  color: #023047;

}

.hidden {
  display: none !important;
}

.login-btn {
  background-color: #FB8500;
  color: #023047;
  width: 4vw;
  height: 4vh;
  font-size: 2vh;
  


}
