@import '_variables';
@import '_mixins';

* {
  font-family: 'ABeeZee', sans-serif;
  margin: 0;
  padding:0;
}

button {
  cursor: pointer;
  border-radius: 20%;
}

button:hover {
  transform: scale(1.1);
  transition: .5s;
}

html {
  height: 100%;
}

body {
  height: 100%;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
}

header {
  display: flex;
  height: 30%;
  border-bottom: 5px solid $yellow;
}

// ** HEADER ** 

h1 {
  font-size: 4vw;
  color: $dk-blue;
}

.total-spent-display {
  font-size: 2vh;
}

.current-date {
  font-size: 4vh;
}

.total-spent-display {
  margin-top: 1em;
  color: $dk-blue;
}

.left-header {
  @include flex-justify-center();
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50%;
}

.logo {
  height: 100%;
  width: 40%;
  margin-right: 10%;
}

// ** NAVIGATION SECTION **

.nav-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @media screen and (max-width: 1150px) {
    height: 30vh;
  }
  @media screen and (max-width: 750px) {
    height: 25vh;
  }
  height: 10%;
  border-bottom: 5px solid $yellow;
  margin-top: 1%;
}

nav > button {
  width: 10vw;
  height: 7vh;
  background-color: $orange;
  font-size: 1vw;
  color: $dk-blue;
  font-size: larger;
  margin-bottom: 1%;
}

// ** BOOKING SECTION **

.new-trip-section {
  @include flex-justify-center();
  @media screen and (max-width: 1150px) {
    height: 30vh;
  }
  @media screen and (max-width: 750px) {
    height: 25vh;
  }
  height: 25%;
  margin-top: 1%;
}

.booking-box-section {
  background-color: rgba(33, 158, 188, 0.4);
  height: 100%;
  width: 90%;
}

.booking-box-top {
  @include flex-justify-center();
  align-items: center;
  height: 30%;
  font-size: 3vw;
  color: $dk-blue;
}

.booking-box-bottom {
  display: flex;
  height: 30%;
  margin-left: 2%;
}

.booking-box-bottom > .selection {
  @include flex-justify-center();
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $dk-blue;
  font-size: 3vh;
}

.book-it-section {
  display: flex;
  height: 60%;
}

.book-btns {
  @include flex-justify-center();
  width: 25%;
  height: 50%;
}

.book-btns > button {
  width: 7vw;
  height: 5vh;
  margin: 2%;
  background-color: $orange;
  font-size: 1vw;
  color: $dk-blue;
}

.booking-msg {
  display: flex;
  align-items: center;
  width: 50%;
  height: 50%;
  font-size: 3vh;
  color: $dk-blue;
}

// ** MAIN CARDS SECTION **

.main-banner {
  @include flex-justify-center();
  color: $dk-blue;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(355px, auto));
  margin: 1%;
  height: 100%;
  margin-top: 2%;
}

.card-top {
  background-size: cover;
  height: 50%;
}

.card-bottom {
  display: flex;
  flex-direction: column;
}

.card {
  border: 3px solid $orange;
  height: 60vh;
  width: auto;
  background-color: rgb(142, 202, 230, 0.8);
}

.trip-info {
  display: grid;
  grid-template-columns: 40% 50%;
  width: 100%;
  margin: 2% 1% 3%;
}

.main-trips-section > article {
  width: 85%;
  height: 50vh;
}

// ** LOGIN SECTION **

.login-page {
  @include flex-justify-center();
  align-items: center;
  height: 60%;
}

.login-error {
  @include flex-justify-center();
  align-items: flex-start;
  font-size: 3vh;
  height: 7vh;
  width: 30vw;
}

.login-container {
  @include flex-justify-center();
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  height: 90%;
  width: 60%;
}

.logo-container {
  @include flex-justify-center();
  height: 80vh;
  width: 40%;
  align-items: flex-end;
}

.logo-login {
  width: 80%;
  height: 80%;
  margin-bottom: 1%;
}

.login-page {
  font-size: 4vh;
  color: $dk-blue;
}

.login-btn {
  background-color: $orange;
  color: $dk-blue;
  width: 4vw;
  height: 4vh;
  font-size: 2vh;
}

.hidden {
  display: none !important;
}